<div class='mx-auto w-11/12 lg:w-1/2'>
  <h1 class='mt-32 text-4xl font-bold uppercase'><%= @page.title %></h1>

  <p class='mt-12 font-semibold'><%= @page.body %></p>
  <p><%= @page.renewal_date %></p>

  <ul>
    <li>
      <button class='mt-6 px-4 py-2 text-sm font-semibold text-white bg-sky-400 hover:bg-sky-500 rounded-md'>
        <%= link_to 'Edit Subscription', edit_page_path(@page) %>
      </button>
    </li>

    <li>
      <button class='mt-3 px-4 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-600 rounded-md'>
        <%= link_to 'Delete Subscription', page_path(@page), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </button>
    </li>
  </ul>
</div>
