<h1 class='text-3xl font-semibold'><%= @subscription.name %></h1>

<p class='mt-12'>
  <span class='font-semibold'>Cost: </span>
  &dollar;<%= @subscription.cost %> <%= @subscription.currency %>
</p>

<p>
  <span class='font-semibold'>Renews: </span>
  <%= @subscription.frequency %>
</p>

<p>
  <span class='font-semibold'>Renews next: </span>
  <%= @subscription.renewal_date %>
</p>

<div class='mt-6'>
  <%= link_to 'Edit', edit_subscription_path(@subscription), :class => 'px-3 py-2 text-sm font-semibold rounded-md text-white bg-sky-400 hover:bg-sky-500' %>
  
  <%= link_to 'Delete', subscription_path(@subscription), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'px-3 py-2 text-sm font-semibold rounded-md text-white bg-red-500 hover:bg-red-600' %>

  <%= link_to 'Back', root_path, :class => 'px-3 py-2 text-sm font-semibold rounded-md bg-zinc-300 hover:text-white hover:bg-zinc-400 dark:text-zinc-700' %>
</div>
