!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    
    %title= content_for?(:title) ? yield(:title) : 'TailwindCSS Form'
    %link{:href => 'data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚠️</text></svg>', :rel => 'icon'}/
    
    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    
    = javascript_importmap_tags
  %body
    -# %main.container.mx-auto.mt-28.px-5.flex
    %main.flex.h-screen
      = yield
